<h5>Rechercher par catégories: </h5><br>

<select [(ngModel)]="listByCategory" (change)="getarticleByCategory()" id="dropdown">
  <option [ngValue]="null" class="form-select form-select-lg mb-3" >afficher tous les articles</option>
  <option *ngFor="let category of categoryList" 
  [ngValue]="category.listArticle">{{category.label}}
  </option>
</select><br>
<div class="row">
  <div class="card col-md-6" *ngFor="let article of displayList">
      <h5 class="card-header">{{article.title}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{article.author}}</h5>
        <p class="card-text">{{article.date | date}}</p>
        <a [routerLink]="['/article',article.id]" class="btn btn-primary">Lire l'article</a>
      </div>
    </div>
</div>