<div class="col text-center">
  <h2>Ajouter un article</h2>
</div>
<form (ngSubmit)="addArticle()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title" class="title">Titre :</label><br>
        <input type="text" id="title" name="title" class="inputText" [(ngModel)]="article!.title" required="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="content"  class="title">Contenu :</label><br>
        <textarea name="content" id="content" cols="30" rows="10" class="inputText" [(ngModel)]="article!.content" required></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="author"  class="title">Auteur :</label><br>
        <input type="text" id="author" name="author" class="inputText" [(ngModel)]="article!.author" required>
      </div>
    </div>
    <div class="col-md-6">
      <label for="categoryId" class="title">Catégorie :</label><br>
      <select [(ngModel)]="categoryId" name="categoryId" id="dropdown">
        <option *ngFor="let category of categoryList" [ngValue]="category.id">{{category.label}}</option>
      </select>
    </div>
    <div class="col text-center">
      <input type="submit" class="btn btn-primary" value="Valider">
    </div>
  </div>
</form>