<h5>{{article?.title}}</h5>
<p id="mainArticle">{{article?.content}}</p>
<p>Article écrit le {{article?.date | date}} par {{article?.author}}</p>
<div class="row">
  <div class="col-md-6 text-center">
    <button class="btn btn-primary" (click)="deleteArticle()">Supprimer l'article</button>
  </div>
  <div class="col-md-6 text-center">
    <button class="btn btn-primary" (click)="showEditForm(article!)">Modifier l'article</button>
  </div>
</div>
<div *ngIf="displayForm">
  <h5>Modification de l'article :</h5>
  <form (ngSubmit)="update(modifiedArticle)">
    <div class="form-group">
      <label for="title" class="title">titre:</label><br>
      <input type="text" name="title" class="inputs" [(ngModel)]="modifiedArticle.title"><br>
    </div>
    <label for="content" class="title" >contenu:</label><br>
    <textarea id="textAreaContent" name="content" cols="60" rows="3" class="inputs" [(ngModel)]="modifiedArticle.content"></textarea><br>
    <label for="author" class="title">auteur:</label><br>
    <input type="text" name="author" class="inputs" [(ngModel)]="modifiedArticle.author"><br>
    <div class="text-center">
      <input type="submit" value="Valider" class="btn btn-primary">
    </div>
  </form>
</div>
<br>
<hr>
<h5>Liste des commentaires:</h5>
<div *ngFor="let comment of article?.listComments">
  <p>{{comment.label}}</p>
</div>

<br>
<hr>
<div class="text-center">
  <h5>Ajouter un commentaire:</h5>
  <form (ngSubmit)="saveComment()">
    <textarea [(ngModel)]="comments!.label" name="label" rows="3" cols="40"></textarea><br>
    <input type="submit" value="Enregistrer" class="btn btn-primary" id="validComment">
  </form>
</div>