#mainArticle{
  text-align: justify;
}
button{
  margin-top: 5px;
  margin-bottom: 5px;
}
#validComment{
  margin-top: 5px;
}
.title{
  font-weight: bold;
}
.inputs{
  margin: 5px;
}

@media (max-width: 600px){
  #textAreaContent{
    width: 90%;
  }
}