#footer{
  bottom: 0;
  
}
#foot{
  border-top: 2px;
}
#foot h5{
  text-align: center;
}
#ligne{
  width: 100%;
  text-align: center;
}
#head{
  margin-bottom: 15px;
}
#para_footer{
  text-align: justify;
}

