<header id="head">
  <nav class="navbar navbar-light bg-light">
    <div class="row" id="ligne">
      <div class="col-md-4">
        <a routerLink="/" class="navbar-brand">blog</a>
      </div>
      <div class="col-md-4">
        <a routerLink="/add" class="navbar-brand">Ajouter un article</a>
      </div>
      <div class="col-md-4">
        <a routerLink="/category" class="navbar-brand">Ajouter une catégorie</a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<hr>
<footer id="foot">
  <div class="container">
    <div class="row" id="footer">
      <div class="col-md-6">
        <h5>Mon blog: </h5><br>
        <p id="para_footer">Merci de consulter mon blog, j'espère que vous y trouvez de quoi vous divertir, n'hésitez pas à poster votre
          propre article.</p>
      </div>
      <div class="col-md-6">
        <h5>Partenaires:</h5>
        <ul class="list-group">
          <li class="list-group-item">Region Auvergne Rhône Alpe</li>
          <li class="list-group-item">La petite boutique</li>
          <li class="list-group-item">Féderation hexagonale de tennis</li>
        </ul>
      </div>
    </div>
  </div>
</footer>