<button (click)="getAllArticles()">Display article list</button>
<div *ngFor="let article of articleList"><button
    (click)="deleteArticleById(article.id)">Delete</button>{{article.author}}/{{article.content}}/{{article.title}}/{{article.date|
  date}}</div>
<br>
<hr>
<button (click)="getArticleById(11)">GetOneArticle</button>
<div *ngIf="selectedArticle">
  <h2>Selected opération</h2>
  {{selectedArticle.content}}/{{selectedArticle.author}}/{{selectedArticle.date|date}}
</div>
<br>
<hr>
<h2>Add an article</h2>
<form (ngSubmit)="addArticle()">
  <label for="title">Title:</label><br>
  <input type="text" name="title" [(ngModel)]="articleToAdd.title"><br>
  <label for="content">Content:</label><br>
  <input type="text" name="content"  [(ngModel)]="articleToAdd.content"><br>
  <label for="author">Author:</label><br>
  <input type="text" name="author" [(ngModel)]="articleToAdd.author"><br>
  <label for="date">Date:</label><br>
  <input type="date" name="date" [(ngModel)]="articleToAdd.date"><br>
  <input type="submit" value="Validate">
</form>
<br>
<hr>
<h2>List of comments:</h2>
<button (click)="getCommentList()">Get list of comments</button>
<div *ngFor="let item of commentsList"><button (click)="deleteComment(item.id)">Delete</button>{{item.label}}</div>
<br>
<hr>
<button (click)="getCommentById()">Get one comment</button>
<p>{{selectedComment?.label}}</p>
<br>
<hr>
<h2>Add a comment:</h2>
<form (ngSubmit)="addComment()">
  <label for="label">Label:</label><br>
  <input type="text" name="label" [(ngModel)]="commentToAdd.label">
  <input type="submit">
</form>
<br>
<hr>
<h2>List of categories</h2>
<button (click)="getCategories()">Show list</button>

<ul>
  <li *ngFor="let item of listCategories"><button (click)="deleteCategory(item.id)">Delete</button>{{item.label}}</li>
</ul>

<button (click)="getCategoriesWithArticles()">Show full list</button>

<ul>
  <li *ngFor="let item of listCategories"><button>Delete</button>{{item.label}}/ {{item.listArticle}}</li>
</ul>
<h2>Add a category</h2>
<form (ngSubmit)="addCategory()">
  <label for="label"></label><br>
  <input type="text" name="label" [(ngModel)]="categoryToAdd.label"><br>
  <input type="submit" value="Valider">
</form>