<div class="col text-center">
  <h5>Ajouter une nouvelle catégorie :</h5>
</div>
<form (ngSubmit)="addNewCategory()">
  <div class="col text-center">
    <label for="label"></label>
    <input type="text" name="label" id="label" [(ngModel)]="category.label"><br>
  </div>
  <div class="col text-center">
    <input type="submit" value="Valider" class="btn btn-primary">
  </div>
</form>